.modal{
background-color: white;
min-width: 5px;
min-height: 5px;
top: 50%;
position: absolute;
}
.modalBackground{
position: absolute;
background: black;
opacity: 0.5;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: 99;


}

.close{

}

